*.mseed
*.pyc
*.pkl
*.DS_Store
!data/test/waveforms/*
*/__pycache__/
doc/References/*
doc/Reports/*
doc/Pres/*
doc/Doc/*
!doc/Doc/doc.pdf
!doc/Doc/doc.tex
!doc/img/*.pdf
doc/img/*
doc/Post/*
!data/classified/*/*/*/*/*/*.pkl
env/*
env3/*
ACTIVATEME.sh
Analyze.sh
andrea.sh
*.out
*.err
*.csv
.vscode/*
etna_data/*
ktanakah.sh
acarducci.sh
img/*.eps
*.nsys-rep
data/arguments.json
*HIST_*_*_*.png
*CP_*_*_*.png