*.mseed
*.pyc
*.pkl
*.DS_Store
!data/test/waveforms/*
*/__pycache__/
doc/References/*
doc/Reports/*
!data/classified/*/*/*/*/*/*.pkl
env/*
env3/*
ACTIVATEME.sh
Analyze.sh
andrea.sh
*.out
*.err
.vscode/*
etna_data/*
ktanakah.sh
acarducci.sh
doc/*
img/*.eps